[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = "*"
scrapy = "*"
scrapy-sentry = "*"
city-scrapers-core = {extras = ["azure"],version = "*"}
scrapy-wayback-middleware = "*"
python-dateutil = "*"
chardet = "*"
pdfminer-six = "*"
pypiwin32 = {version = "*",sys_platform = "== 'win32'"}

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "==19.10b0"
